body, html {
margin: 0;
padding: 0;
}
.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#overlay {
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
     transition: 500ms opacity ease; 
    background: rgba(0,0,0,.5);
}
#modal {
    position:absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 40%;
    padding: 24px 20px;
    z-index: -1;


    transition: 500ms opacity ease;


            transform: translate(-50%, -50%);

    border-radius: 2px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#modal.open {
    opacity: 1;
    z-index: 9999;
}